<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="javascripts/bulma.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">ComFlare</a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> Home </a>
          <a class="navbar-item">Where To Fly</a>
          <a class="navbar-item">Search</a>
          <a class="navbar-item">Reservations</a>
        </div>

        <div class="navbar-end">
          <% if (!user) { %>
          <div class="navbar-item">
            <div class="buttons">
              <a href="/auth/google" class="button is-primary">
                <strong>Login / Signup</strong>
              </a>
            </div>
          </div>
          <% } else { %>
          <div class="navbar-item">
            <div class="buttons">
              <%- console.log(user.avatar) %>
              <img
                src="<%= user.avatar %>"
                style="border-radius: 50%; margin-right: 4px"
              />
              <a href="/logout" class="button is-primary">
                <strong>Logout</strong>
              </a>
          </div>
        </div
          <% } %>
        </div>
      </div>
    </nav>
  </body>
</html>
