<%- include('../partials/header') %>
<div class="container" style="height: 50vh; display: flex; flex-direction: column; justify-content: center">
  <div class="card p-3">
    <div class="card-header">
      <h3 class="text-center">About Your Plane</h3>
    </div>
    <div class="card-body">
      <form action="/listings" method="POST" class="mt-3">
          <label for="airport" class="mt-2">
            Airport
            <select name="airport">
              <option value="WVI">Watsonville Municipal</option>
              <option value="HNL">Honolulu International</option>
              <option value="FXE">Ft. Lauderdale Executive</option>
            </select>
          </label><br>
          <label for="manufacturer" class="mt-2">
            Manufacturer
            <select name="manufacturer">
              <option value="cessna">Cessna</option>
              <option value="cirrus">Cirrus</option>
              <option value="piper">Piper</option>
            </select>
          </label><br>
          <label for="model" class="mt-2">
            Model
            <select name="model">
              <option value="182">182</option>
              <option value="sr22T">SR22T</option>
              <option value="warriorIII">Warrior III</option>
            </select>
          </label><br>
          <label for="seats" class="mt-2">
            Seats
            <select name="seats">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </label><br>
          <label for="ifrCheck" class="mt-2">
            IFR Equiped
            <input class="form-check-input" type="checkbox" name="ifrCheck" />
          </label><br>

        <button style="width: 100%;" class="btn btn-warning mt-3" type="submit">Add</button>
      </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
