<%- include('../partials/header') %>
<div>
  <h3>About Your Plane</h3>
  <form action="/listings" method="POST">
    <div>
      <label for="airport">Airport</label>
      <label for="manufacturer">Manufacturer</label>
      <label for="model">Model</label>
      <label for="seats">Seats</label>
      <label for="ifrCheck">IFR</label>
    </div>
    <div>
      <select value="airport">
        <option name="WVI" id="">Watsonville Municipal</option>
        <option name="HNL" id="">Honolulu International</option>
        <option name="FXE" id="">Ft. Lauderdale Executive</option>
      </select>
      <select value="manufacturer">
        <option name="cessna" id="">Cessna</option>
        <option name="cirrus" id="">Cirrus</option>
        <option name="piper" id="">Piper</option>
      </select>
      <select value="model">
        <option name="" id="">182</option>
        <option name="" id="">SR22T</option>
        <option name="" id="">Warrior III</option>
      </select>
      <select value="seats">
        <option name="" id="">2</option>
        <option name="" id="">3</option>
        <option name="" id="">4</option>
        <option name="" id="">5</option>
        <option name="" id="">6</option>
      </select>
      <input class="form-check-input" type="checkbox" value="ifrCheck" />
    </div>
    <button class="btn btn-warning" type="submit">Add</button>
  </form>
</div>

<%- include('../partials/footer') %>
