<%- include('./partials/header') %>

<img src="images/splash.jpg" alt="Splash Image" style="width: 100%" />
<div class="search">
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search..." id="searchBar" />
    </p>
  </div>
</div>
<div class="testimonials">
  <div class="card">
    <div class="card-image">
      <figure class="">
        <img src="" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure>
            <img src="" alt="" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">#JohnSmith</p>
        </div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="">
        <img src="" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure>
            <img src="" alt="" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Michael Jordan</p>
          <p class="subtitle is-6">#JohnSmith</p>
        </div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="">
        <img src="" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure>
            <img src="" alt="" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">#JohnSmith</p>
        </div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="">
        <img src="" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure>
            <img src="" alt="" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Sarah Williams</p>
          <p class="subtitle is-6">#JohnSmith</p>
        </div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
