<%- include('./partials/header') %>
<div class="container-fluid" id="search">
  <!-- <h2>Find Your Dream Flight</h2>
  <form class="d-flex">
    <input
      type="text"
      class="form-control me-2"
      type="search"
      placeholder="Search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->
  <h1 style="background-color: aliceblue">Community Flare</h1>
  <h3 style="background-color: aliceblue">
    Your Next Dream Flight Is Just A Click Away
  </h3>
</div>
<div class="container cards">
  <div class="card" style="width: 25vmin">
    <img src="images/reviewPlaceholder.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">User Review</h5>
      <p class="card-text">
        Some really good review from a user who ejoyed using our app.
      </p>
    </div>
  </div>
  <div class="card" style="width: 25vmin">
    <img src="images/reviewPlaceholder.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Another satisfied user after they took their family flying around the
        Florida Keys.
      </p>
    </div>
  </div>
  <div class="card" style="width: 25vmin">
    <img src="images/reviewPlaceholder.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Who wouldn't leave an awesome review because this app is fantastic!
      </p>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
