body {
  box-sizing: border-box;
  height: 90vh;
  width: 100vw;
}

/* #splashImg {
  position: relative;
} */

#search {
  height: 40vmin;
  background-color: rgba(153, 215, 243, 0.15);
  padding: 5vmin;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("../images/splash.jpg");
  background-position: center;
}

#search input {
  /* position: absolute; */
  left: 50px;
  top: 150px;
  width: 80vw;
}

#search-container {
  display: flex;
  flex-direction: column;
  height: 10vmin;
  background-color: rgba(148, 194, 244, 0.5);
  align-items: center;
  justify-content: center;
  padding: 1.3vmin;
}

#searchBar {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
}

#card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.testimonials img {
  margin-top: 5px;
  border-radius: 50%;
}

@media only screen and (max-width: 780px) {
  .testimonials {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-left: 5px;
  }
}

.footer {
  display: flex;
  background-color: rgb(101, 100, 100);
  height: 15vmin;
  justify-content: center;
  align-content: center;
  color: white;
}

@media only screen and (max-width: 480) {
  .cards {
    flex-direction: column;
  }
}
